 <h4>Due to the online nature of these workshops the programme allows for regular breaks on the hour. For example we will start at 09:00 then break at 9:50 to 10:00 and then continue for 50 minutes again till 13:00</h4>

<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>
        <td>Before starting: <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:20</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
   <div class="col-md-6"> <!-- left column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis &amp; Visualization</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis &amp; Visualization</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
